@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700&family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700&family=Press+Start+2P&display=swap");
.btn {
  color: #ffffff;
  padding: 0.5rem 1.5rem;
  width: auto;
  border: none;
  border-radius: 0.45rem;
  margin-right: 0.5rem;
  min-width: max-content;
}

.btn-secondary {
  background-color: #482F9B;
  border: #482F9B;
}

.btn-ghost-tertiary {
  background-color: transparent;
  border: 3px solid #E7A018;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  text-decoration: none;
  color: #ffffff;
}

body {
  background: #010222;
  color: #ffffff;
  margin: 0;
  font-family: -apple-system, "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Container {
  width: 85%;
  max-width: 1200px;
  margin: auto;
}

.Navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
}
.Navigation .logo {
  font-size: 1.5rem;
  font-weight: 600;
}
.Navigation ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.Navigation ul li {
  padding: 0.5rem 0 0.5rem 3rem;
  cursor: pointer;
  transition: all 0.25s ease-in 0s;
}
.Navigation ul li.active::after {
  content: "";
  width: 140%;
  height: 3px;
  background-color: #E7A018;
  display: block;
  top: 12px;
  position: relative;
  left: -20%;
  transition: all 0.25s ease-in 0s;
}
.Navigation .hamburger-react {
  display: none;
}
@media (max-width: 1100px) {
  .Navigation ul {
    display: none;
  }
  .Navigation .hamburger-react {
    display: block;
  }
}

.Hero {
  display: flex;
  flex-direction: row-reverse;
}
.Hero .HeroDetails, .Hero .HeroImage {
  padding: 1.5rem 4rem;
  width: 50%;
}
.Hero .HeroDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
  text-align: left;
}
.Hero .HeroDetails h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.Hero .HeroDetails p {
  margin-bottom: 1rem;
}
.Hero .HeroDetails .button-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}
.Hero .HeroImage {
  padding-right: 0;
}
.Hero .HeroImage img {
  width: 90%;
  min-width: 300px;
}

@media (max-width: 1100px) {
  * {
    font-size: 1rem;
  }
  .Navigation {
    padding: 1rem 1.5rem;
  }
  .Navigation ul {
    display: none;
  }
  .Navigation .hamburger-react {
    display: block;
  }
  .Container {
    width: 90%;
  }
  .Hero .HeroDetails, .Hero .HeroImage {
    padding: 1.5rem 2rem;
  }
  .Hero .HeroDetails h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .Hero .HeroDetails p {
    font-size: 0.75rem;
  }
}
@media (max-width: 1100px) {
  .Hero {
    flex-direction: column-reverse;
  }
  .Hero .HeroDetails {
    width: 100%;
    text-align: center;
  }
  .Hero .HeroDetails .button-group {
    justify-content: center;
  }
  .Hero .HeroImage {
    width: 100%;
  }
  .Hero .HeroImage img {
    width: 95%;
    max-width: 500px;
    min-width: unset;
  }
}
@media (max-width: 320px) {
  .Hero .HeroDetails .button-group {
    flex-direction: column;
  }
  .Hero .HeroDetails .button-group button {
    margin-bottom: 1rem;
  }
}

/*# sourceMappingURL=index.css.map */
