
/* ==================================== Breakpoints ==================================== */

$breakpoint-tablet: 1100px;
$breakpoint-palmtop: 750px;
$breakpoint-mobile: 500px;
$breakpoint-smallmobile: 320px;
