
.btn {
	color: $light_color;
	padding: 0.75rem 1.5rem;
	width: auto;
	border: 3px transparent solid;
	border-radius: 0.45rem;
	margin-right: 0.5rem;
	min-width: max-content;
    transition: 0.3s;
}

.btn-secondary {
	background-color: $secondary_color;
	border: 3px solid $secondary_color;
    &:hover{
        background: lighten($secondary_color, 10%)
    }
}

.btn-tertiary {
	background-color: $tertiary_color;
	border: 3px solid $tertiary_color;
    &:hover{
        background: lighten($tertiary_color, 10%)
    }
}

.btn-ghost-secondary {
	background-color: transparent;
	border: 3px solid $secondary_color;
    &:hover{
        background-color: $secondary_color;
    }
}

.btn-ghost-tertiary {
	background-color: transparent;
	border: 3px solid $tertiary_color;
    &:hover{
        background-color: $tertiary_color;
    }
}

.btn-lead{
    font-size: 1.15rem;
}

.btn-circle-wrapper {
	display: flex;
	justify-content: center;
	color: $light_color;
	height: 100px;
	position: relative;
	width: 100%;
}

.btn-circle-wrapper {

    margin-top: 2rem;

	.circle-border {
		width: 125px;
		height: 125px;
		background: transparent;
		border-radius: 50%;
		border: 0.15rem dashed $tertiary_color;
		animation-name: Rotate;
		animation-duration: 20s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
		-webkit-animation-name: Rotate;
		-webkit-animation-duration: 20s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;
		-moz-animation-name: Rotate;
		-moz-animation-duration: 20s;
		-moz-animation-iteration-count: infinite;
		-moz-animation-timing-function: linear;
		-ms-animation-name: Rotate;
		-ms-animation-duration: 20s;
		-ms-animation-iteration-count: infinite;
		-ms-animation-timing-function: linear;
	}

	.circle-content {

		position: absolute;
		display: flex;
        justify-content: center;
        align-items: center;
        width: 130%;
        height: 130%;

        .icon {
            fill: $tertiary_color;
            height: 25px;
            width: 25px;
        }

	}
}

@keyframes Rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@-webkit-keyframes Rotate {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes Rotate {
	from {
		-moz-transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(360deg);
	}
}
