
/* ==================================== Colors ==================================== */

$primary_color : #010222;
$secondary_color: #482F9B;
$tertiary_color: #E7A018;

$pink_color : #f72585;
$lightblue_color : #0466c8;
$orange_color : #f24b04;
$green_color : #509724;
$light_color : #ffffff;
