
/* ==================================== Headings ==================================== */

.HeadingWrapper{
    display: flex;
    justify-content: center;
}

.Heading{
    font-weight: 500;
    border-bottom: $tertiary_color 3px solid;
    width: max-content;
    padding: 1rem 1.5rem;
    transition: all $transition_time_mediam;

    &:hover{
        padding: 1rem 2rem;
    }

}

.H1{
    @extend .Heading;
    font-size: 2.5rem;
    margin-bottom: 4rem;
}
