* {
	margin: 0;
	padding: 0;
	letter-spacing: 0.5px;
	box-sizing: border-box;
	font-size: 1rem;
	text-decoration: none;
	color: $light_color;
}

body {
	background: $primary_color;
	color: $light_color;
	margin: 0;
	font-family: $base_font_family;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.hidden{display: none !important;}

.Container {
	width: 85%;
	max-width: 1400px;
	margin: auto;
}

// ================================== NAVIGATION ==================================

.Navigation {
	// position: fixed;
	// top: 0;
	// left: 0;
	// right: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0;

	.logo {
		font-size: 1.5rem;
		font-weight: 600;
	}

	ul {
		list-style: none;
		display: flex;
		flex-direction: row;

		li {
			padding: 0.5rem 0 0.5rem 3rem;
			cursor: pointer;
			transition: all 0.25s ease-in 0s;

			&.active {
				// transition: all 0.25s ease-in 0s;
			}

			&.active::after {
				content: '';
				width: 140%;
				height: 3px;
				background-color: $tertiary_color;
				display: block;
				top: 12px;
				position: relative;
				left: -20%;
				transition: all 0.25s ease-in 0s;
			}
		}
	}

	.hamburger-react {
		display: none;
	}

	@media (max-width: $breakpoint-tablet) {
		ul {
			display: none;
		}
		.hamburger-react {
			display: block;
		}
	}
}

// ===================================== HERO =====================================

.Hero {
	display: flex;
	flex-direction: row-reverse;

	.HeroDetails,
	.HeroImage {
		padding: 1.5rem 4rem;
		width: 50%;
	}

	.HeroDetails {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 0;
		text-align: left;

		h1 {
			font-size: 3rem;
			margin-bottom: 1rem;
		}

		p {
			margin-bottom: 1rem;
		}

		.button-group {
			display: flex;
			flex-direction: row;
			margin-bottom: 1rem;
		}
	}

	.HeroImage {
		padding-right: 0;
		overflow: hidden;

		img {
			width: 90%;
			min-width: 300px;
		}
	}
}
