
/* ================================== Main Styles ================================== */

* {
	margin: 0;
	padding: 0;
	letter-spacing: 0.5px;
	box-sizing: border-box;
	font-size: 1rem;
	text-decoration: none;
	color: $light_color;
}

body {
	background: $primary_color;
	color: $light_color;
	margin: 0;
	font-family: $base_font_family;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
